**/.DS_Store
__pycache__/**
**.__pycache__
**.pyc
.ipynb_checkpoints/**
**/*.ipynb_checkpoints/
**/*__pycache__/
**/*__pycache__/**
**/__pycache__/
/trained_models_checkpoint/**
data/**
data/
.claude/**
.claude/
retinal_layer_segmentation.egg-info/**
retinal_layer_segmentation.egg-info/
notebooks/model_training/tmp/**
notebooks/model_training/tmp/
trained_models_checkpoint/**
trained_models_checkpoint/